@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

.todo {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.todo .glitch{
    position: relative;
    margin: 100px auto;
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    top: 250 px;
}

.glitch:before, .glitch:after{
    content: "COMING SOON";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.glitch:before{
    left: 10px;
    text-shadow: 5px 0  #3cd1e9;
    animation: effect 3s infinite linear;
}

.glitch:after{
    left: 4px;
    text-shadow: -5px 0 #ff1d6f;
    animation: effect 4.5s infinite linear;
}

@-webkit-keyframes effect{
    0%{
        clip:rect(55px, 9999px, 56px, 0);
    }
    5% {
        clip: rect(47px, 9999px, 30px, 0);
    }
    10% {
        clip: rect(33px, 9999px, 36px, 0);
    }
    15% {
        clip: rect(35px, 9999px, 9px, 0);
    }
    20% {
        clip: rect(63px, 9999px, 59px, 0);
    }
    25% {
        clip: rect(96px, 9999px, 98px, 0);
    }
    30% {
        clip: rect(48px, 9999px, 77px, 0);
    }
    35% {
        clip: rect(50px, 9999px, 34px, 0);
    }
    40% {
        clip: rect(60px, 9999px, 72px, 0);
    }
    45% {
        clip: rect(10px, 9999px, 81px, 0);
    }
    50% {
        clip: rect(1px, 9999px, 60px, 0);
    }
    55% {
        clip: rect(23px, 9999px, 59px, 0);
    }
    60% {
        clip: rect(76px, 9999px, 90px, 0);
    }
    65% {
        clip: rect(62px, 9999px, 30px, 0);
    }
    70% {
        clip: rect(60px, 9999px, 73px, 0);
    }
    75% {
        clip: rect(60px, 9999px, 87px, 0);
    }
    80% {
        clip: rect(2px, 9999px, 14px, 0);
    }
    85% {
        clip: rect(28px, 9999px, 87px, 0);
    }
    90% {
        clip: rect(73px, 9999px, 50px, 0);
    }
    95% {
        clip: rect(79px, 9999px, 70px, 0);
    }
    100% {
        clip: rect(17px, 9999px, 79px, 0);
    }
}

.todo .iconos{    
    position: relative;
    color: #fff;
}

.todo .iconos ul{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    padding: 0;
}

.todo .iconos li{
    list-style: none;
}

.todo .correo{
    color: #fff;
}

.todo .iconos li a{
    color: #fff;
    font-size: 35px;
    margin: 10px;
}

@media only screen and (max-width: 768px){

    .todo .glitch{
        font-size: 40px;
        margin-bottom: 200px;
    }
    
    
}